@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/myriadpro-bold-webfont.eot');
    src: url('fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-Regular.woff') format('woff'),
         url('fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMTStdExtraBold';
    src: url('fonts/arialroundedmtstd-extrabold-webfont.eot');
    src: url('fonts/arialroundedmtstd-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arialroundedmtstd-extrabold-webfont.woff') format('woff'),
         url('fonts/arialroundedmtstd-extrabold-webfont.ttf') format('truetype'),
         url('fonts/arialroundedmtstd-extrabold-webfont.svg#ArialRoundedMTStdExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 18px;
    font-family: arial, sans-serif;
    color: #5a5a5a;
    background: #fff;
    min-width: 1028px;
}



a { color: #000; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

h2 { font-size: 18px; color: #fa5400; border-bottom: 1px solid #c5c4be; margin-bottom: 8px; line-height: 26px; }

#wrapper {  background:  #FeFeF4;}
  
.shout_box {
    background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
    width: 260px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 1%;
    z-index:9;
}
.shout_box .header .close_btn {
    background: #000 url(../images/close_btn.png) no-repeat 0px 0px;
    float: right;
    width: 15px;
    height: 15px;
}
.shout_box .header .close_btn:hover {
    background: url(../images/close_btn.png) no-repeat 0px -16px;
}

.shout_box .header .open_btn {
    background: #000 url(../images/close_btn.png) no-repeat 0px -48px;
    float: right;
    width: 15px;
    height: 15px;
}
.shout_box .header .open_btn:hover {
    background: url(../images/close_btn.png) no-repeat 0px -48px;
}
.shout_box .header{
    padding: 5px 3px 5px 5px;
    font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-weight: bold;
    background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
    color:Blue;
    border: 1px solid rgba(0, 39, 121, .76);
    border-bottom:none;
    cursor: pointer;
}
.shout_box .header:hover{
    background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
}
.shout_box .message_box {
    background: #fefefe;
    height: 200px;
    overflow:auto;
    border: 1px solid #CCC;
}
.shout_msg{
    margin-bottom: 10px;
    display: block;
    border-bottom: 1px solid #F3F3F3;
    padding: 0px 5px 5px 5px;
    font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
    color:#7C7C7C;
}
.message_box:last-child {
    border-bottom:none;
}
time{
    font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-weight: normal;
    float:right;
    color: #D5D5D5;
}
.shout_msg .username{
    margin-bottom: 10px;
    margin-top: 10px;
        color: blue;
}
.user_info input {
    width: 98%;
    height: 25px;
    border: 1px solid #CCC;
    border-top: none;
    padding: 3px 0px 0px 3px;
    font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.shout_msg .username{
    font-weight: bold;
    display: block;

}






